.container-big{
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0 80px;
}

.header-block-cards-card{
position: relative;
}

.header-block-cards-card{
  margin: 0 auto;
}

.header-block-cards-card-button-right{
  position: absolute;
  bottom: 50%;
  left: 10%;
  width: 70px;
  height: 70px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.5002 6.99996C15.5002 7.2486 15.4014 7.48706 15.2256 7.66288C15.0498 7.83869 14.8114 7.93746 14.5627 7.93746H3.70084L7.72646 11.9612C7.81363 12.0484 7.88277 12.1519 7.92994 12.2657C7.97712 12.3796 8.00139 12.5017 8.00139 12.625C8.00139 12.7482 7.97712 12.8703 7.92994 12.9842C7.88277 13.0981 7.81363 13.2015 7.72646 13.2887C7.6393 13.3759 7.53582 13.445 7.42193 13.4922C7.30804 13.5394 7.18598 13.5636 7.06271 13.5636C6.93944 13.5636 6.81738 13.5394 6.70349 13.4922C6.58961 13.445 6.48613 13.3759 6.39896 13.2887L0.773961 7.66371C0.686655 7.57663 0.617387 7.47317 0.570125 7.35928C0.522863 7.24538 0.498535 7.12328 0.498535 6.99996C0.498535 6.87665 0.522863 6.75455 0.570125 6.64065C0.617387 6.52675 0.686655 6.4233 0.773961 6.33621L6.39896 0.711214C6.575 0.535176 6.81376 0.436279 7.06271 0.436279C7.31167 0.436279 7.55042 0.535176 7.72646 0.711214C7.9025 0.887251 8.00139 1.12601 8.00139 1.37496C8.00139 1.62392 7.9025 1.86268 7.72646 2.03871L3.70084 6.06246H14.5627C14.8114 6.06246 15.0498 6.16124 15.2256 6.33705C15.4014 6.51287 15.5002 6.75132 15.5002 6.99996Z' fill='white'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

.header-block-cards-card-button-left{
  position: absolute;
  bottom: 50%;
  right: 10%;
  width: 70px;
  height: 70px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.499789 6.99996C0.499789 7.2486 0.59856 7.48706 0.774376 7.66288C0.950191 7.83869 1.18865 7.93746 1.43729 7.93746H12.2992L8.27354 11.9612C8.18637 12.0484 8.11723 12.1519 8.07006 12.2657C8.02288 12.3796 7.99861 12.5017 7.99861 12.625C7.99861 12.7482 8.02288 12.8703 8.07006 12.9842C8.11723 13.0981 8.18637 13.2015 8.27354 13.2887C8.3607 13.3759 8.46418 13.445 8.57807 13.4922C8.69196 13.5394 8.81402 13.5636 8.93729 13.5636C9.06056 13.5636 9.18262 13.5394 9.29651 13.4922C9.41039 13.445 9.51387 13.3759 9.60104 13.2887L15.226 7.66371C15.3133 7.57663 15.3826 7.47317 15.4299 7.35928C15.4771 7.24538 15.5015 7.12328 15.5015 6.99996C15.5015 6.87665 15.4771 6.75455 15.4299 6.64065C15.3826 6.52675 15.3133 6.4233 15.226 6.33621L9.60104 0.711214C9.425 0.535176 9.18624 0.436279 8.93729 0.436279C8.68833 0.436279 8.44958 0.535176 8.27354 0.711214C8.0975 0.887251 7.99861 1.12601 7.99861 1.37496C7.99861 1.62392 8.0975 1.86268 8.27354 2.03871L12.2992 6.06246H1.43729C1.18865 6.06246 0.950191 6.16124 0.774376 6.33705C0.59856 6.51287 0.499789 6.75132 0.499789 6.99996Z' fill='white'/%3e%3c/svg%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

.header-block-cards-card-block-text{
  position: absolute;
  width: 586px;
  height: 310px;
  font-weight: 800;
  font-size: 40px;
  line-height: 140%;
  color: var(--color-white,#FFFFFF);
  background-color: rgba(51, 51, 51, 0.5);
  padding: 15px 30px;
  left: 22%;
  top: 17%;
}

.header-block-cards-card-button-centr{
  position: absolute;
  bottom: 50%;
  left: 22%;
  bottom: 20%;
  width: 163px;
  height: 58px;
}