.main-content{
  display: flex;
  flex-wrap: wrap;
  padding: 75px 0;
  justify-content: center;
}

.main-content-title-h2{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 52px;
}

.main-conent-list-buttons{
  display: flex;
  width: 100%;
  padding: 0 173px 15px;
  gap: 164px;
}

.main-content-button{
  width: 175px;
  height: 68px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding: 12px 20px;
}

.main-content-list{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px 0 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
}

.main-content-list-item{
  width: 306px;
  height: 68px;
}

.main-content-list-item:hover{
  color: var(--color-red,#EC1B2E);
}
